.grid-33
  .app--section
    ul.app--user--list
      each follower in dataList.followers
        li
          .circle--fluid
            .circle--fluid--cell.circle--fluid--primary
              a.app--tweet--author
                .app--avatar(style='background-image: url(' + follower.profile_image_url + ')')
                  img(src= '' + follower.profile_image_url)
                h4 #{follower.name}
                p @#{follower.screen_name}
            .circle--fluid--cell
              a.button.button-text Unfollow
