.grid-33
  .app--section
    ul.app--message--list
      li
        h3
          | My latest messages 
      each friend in dataList.friends_direct_messages    
          ul.app--message--conversation
            li.app--message
              .app--avatar(style='background-image: url(' + friend.profile_image_url + ')')
                img(src='' + friend.profile_image_url)
              p.app--message--text #{friend.text}
              p.app--message--timestamp #{friend.date}
